*{

margin: 0px;
padding:0px;
box-sizing: border-box;
user-select: none;
scroll-behavior: smooth;
font-family: "Be Vietnam Pro",sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&display=swap');

#wrapper{
    height: 100vh;
    overflow: hidden auto;
    box-sizing: border-box;

}
:root{
    --bgOrange:#e84949;
}
.container{
    width: 80vw;
    height: auto;
    margin:0 auto;
}
.navbar{

    display: flex;
    align-items: center;
/* background-color: aqua; */
    justify-content:space-between;
    padding-top: 1rem;
}
.logo{
    font-size: 2rem;
    font-weight: 500;
    cursor: pointer;
}
.nav-item{

display: flex;
padding:0 4em;
gap:3rem;
cursor: pointer;
}

.nav-item div{
    font-size: 20px;
    font-weight: 500;

}
.nav-item div a{
    
    color: black;
}
a{
    text-decoration: none;
}
.nav-item div:hover{
transition:0.10s;
font-weight: bold;
scale: 1.5em;;
}
.hero-section{
    position: relative;
    display: flex;
    /* align-items: center; */
    flex-direction: row;
    justify-content: center;

    gap:5rem;
    margin:4rem auto;
    padding:0 1rem;
    padding-bottom: 8rem;
}
.faded-txt{
    user-select: none;
    font-size: 7rem;
    color: rgb(231,231,231);
    font-weight: bolder;
    bottom:-15%;
    left:-1%;
    transition: all 5s;
}

.hero-section-left{ 
    display: flex;
    gap:2rem;
    justify-content: center;
    flex-direction: column;
}
.hero-section-heading{
    font-size: 35px;
    color: #343d68;
    font-weight:500; 
}
.role{
    color: #4e45d5;
    font-weight: 600;
}

.hero-section-right{
    position:relative
}
.hero-section-description{
font-size:2rem;

margin: -3px;
}
.absolute{
    position:absolute
}
.user-image img{
    width:350px;
    padding:2.5rem;
    margin-right: 10px;
    transition:all 1s;
    filter:grayscale(1);
    z-index:-9;

    animation:ScaleImage 5s linear infinite;

}


@keyframes ScaleImage {
    0%{
        filter: grayscale(0);
        transform: scale(1);
        }
    50%{
        filter: grayscale(1);
        transform: scale(1.1);
        box-shadow: 3px 3px 10px black;
        
    }
    100%{
        filter: grayscale(0);
        transform: scale(1); 
    }
    
}
.icon-dots{
    z-index:9;
    bottom:-1rem;
    right:0;
    animation-name: dotanimation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes dotanimation{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-12px);

    }
    100%{
        transform: translateY(0px);

    }
}
.icon-circle{
    z-index: 9;
    bottom:0;
    left: 0;
    animation:shakeCircle 3s infinite linear;
}
@keyframes shakeCircle {
    50%{
        left:1%;
        bottom: 8%;
    }
    
}

.icon-plus{
    z-index: 9;
    top:-0.8rem;
    left: 50%;
    
    animation:shakeplus 3s  ease-in-out infinite;
}
@keyframes shakeplus {
    50%{
        top:3%;
        bottom: 48%;
    }
    
}
.icon-zigzags{
    z-index: 9;
    top:1.3em;
    left:-0.5em;
    animation:shakezigzag 3s  ease-in-out infinite;

}
@keyframes shakezigzag {
    50%{
        top:2%;
        left:5%;
    }
    
}
/* Button Section */
.btn-pink{
    background-color: var(--bgOrange);
    width: fit-content;
    color: white;
    padding: 0.8rem 2.3rem;
    box-shadow: 5px 5px 7px 0px #0000003f;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.5s;
    font-weight: 500;
    border:solid 3px transparent;
    position: relative;
    z-index:1;
}
.btn-pink::before{
    content: "";
    position:absolute;
    background-color: white;
}
.project-container{
    width:80%;
    height: 220rem;
    padding: 20px;
    display: flex;
    margin: 0 auto;
    background-color: #aeadb189;
     /* justify-content: center; */
    align-items: center;
    flex-direction: column;
 
}
.h2-heading{
    margin-top: 10px;
    font-size: 6rem;
    font-weight: bolder;
    color: #e84949;




}
/* project Section. */
#project01,#project03,#project05{
    position:relative;
    height:20%;
    width: 80%;
    margin-top: 30px;
    margin-top: 50px;
    transform: translateX(5rem); 
}

#project02,#project04{
    position:relative;
    height:20%;
    width: 80%;
    margin-top: 50px;
    border-radius: 10px;
    transform: translateX(-5rem);
}


.bg_image{
    position:relative;
    height: 100%;
    width: 100%;
    object-fit: cover;

}
.project-number,.project-number3
    {
    position: absolute;
    font-size:4rem;
    right:0px;
    top:-2rem;
    opacity: 1;
    background-color: #d0cad8;
    box-shadow: 5px 5px 5px rgba(185, 32, 32, 0.416);

}
.project-number2,.project-number4{
    position: absolute;
    z-index:9;
    font-size:5rem;
    left:0px;
    top:-2rem;
    opacity: 1;
    box-shadow: 3px 3px 5px rgba(185, 32, 32, 0.199);
  
}
   

.project-number:hover{
    opacity: 0;

}
.project-number2:hover{
    opacity: 0;  

}
.project-number3:hover{
    opacity: 0;  

}
.project-number4:hover{
    opacity: 0;  

}
.page-content{
    position: absolute;
    left:2px;
    bottom:5px;
   
   background-color: #343d686d;
    color: rgb(250, 250, 250);
    font-size: large;
}

.project-skills{
    width: 50px;
    bottom: 10rem;
    left:5px;
}
.project-card {
width:500px;
background-color: #343d68;
border-radius: 7px;
position: relative;
box-shadow: 3px 3px 5px white;
}

.skill-container{
    display: flex;
    width: 80vw;
    background-color: aliceblue;
    margin: 0 auto;
    flex-direction: column;
    border: none;
    outline: none;
}

.skill-container img{
    width:100px;
    height: auto;
    border-radius: 50%;
    margin:20px;
    box-shadow: 2px 2px 2px aqua;
}
#skill-area{
    font-size: 4rem;
    box-shadow: 3px 0px 4px rgb(201, 193, 193);
    /* margin: 0 auto; */
    padding: 20px;
    color: green;
    background-color: #4dd94d50;
}


#content-area{
    font-size: 1.7rem;
    font-weight: 100;
    padding: 20px;
    border:none;
    outline: none;
    /* box-shadow: 3px 0px 4px rgb(254, 161, 161); */
    font-family:sans-serif;
}
#contactme{
 width: 80vw;
 height: auto;
 background-color: rgba(128, 128, 128, 0.158);
 display: flex;
 flex-direction: column;
 /* justify-content: center;
 align-items: center; */
 margin: 0 auto;

}
.contactus-heading
{
   font-size:3rem;
   text-align: center;
 
 

}
.contactus-sub-heading{
   font-size:2rem; 
   margin:0 auto;
   font-style: italic;
   text-align: center;

}
.formfield-container input{
    width: 90%;
    height: 50px;
    line-height: 2px;
    padding: 10px;
    margin: 0 auto;
    font-size: 2rem;
    margin-left:62px;
    margin-top: 30px;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    box-shadow: 10px 10px 10px rgba(211, 79, 79, 0.333);

}
.formfield-container textarea{
    width: 90%;
    height: 300px;
    line-height: 2px;
    margin-left:62px;
    padding: 10px;
    padding-top: 20px;
    margin-top: 40px;
    border: none;
    margin-bottom: 30px;
    margin-top: 30px;
    font-size: 2rem;
    font-weight: 700; 
    border-radius: 5px;
    box-shadow: 10px 10px 10px rgba(201, 41, 41, 0.235);
 
}

.container footer-wrapper{
    display: flex;

}
.link-wrapper{
    display:flex;
    width:100%;
    height: 30px;
    align-items: center;
    gap: 40px;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    background-color: #d0d2d2ec;
}
.footer-faded-text{
    position: absolute;
    bottom: 0;
    left:0;
    font-size: 1.5rem;
    color:rgb(233, 218, 218);
    transition: all 5s;

}
.footer-wrapper{
    position: relative;
}
.icon-wrapper{
    display: flex;
    position: absolute;
    bottom: 1rem;
    right:5rem;
    width: 20px;
    height: 12px;
}




/* Tablet Style (768px - 1024px) */
@media (max-width: 1024px) {
    *{
      overflow: hidden;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    body{
      width: 100vw;
    }
    .nav-item{
      display: flex;
      flex-wrap: nowrap;
      gap:10px;
    }
    .faded-txt{
      position: absolute;
      font-size: 3rem;
      bottom: -3rem;
    }
    .navbar{
      width: 90vw;
      justify-content: flex-start;
      font-size: 1.5rem;
    }
    .hero-section{
      flex-wrap: wrap-reverse;
    }
    .h2-heading {
      font-size: 4rem;
    }
    .project-container {
      width: 100%;
    }
    #project01, #project02, #project03, #project04, #project05 {
      width: 100%;
      margin-top: 40px;
      transform: none; /* Center projects */
    }
    .project-number, .project-number2, .project-number3, .project-number4 {
      font-size: 3rem;
      top: -2rem;
      display: inline;
    }
    .project-card {
      width: 450px;
    }
    .page-content{
      position: absolute;
      bottom: 0px;
      left:1px;
  
    }
    .bg_image {
      width: 100%; 
      height: auto; 
      object-fit: cover;
    }
    #skill{
      width: 100%;
      padding: 10px;
    
    }
    #content-area{
      width: 100%;
    }
    #skill-area{
      width: 100%;
      font-size: 2.5rem;
    }
    .container1{
      width: 100%;
    }
    #contactme{
      width: 100vw;
    
    }
    .formfield-container{
      width:90%;
    }
  }
  
  /* Mobile Styles (Up to 768px) */ 
   @media (max-width: 768px) {
    ::-webkit-scrollbar{
      display: none;
    }
    .hero-section{
      flex-wrap: wrap-reverse;
    }
    .nav-item{
      display: flex;
      flex-wrap: nowrap;
      gap:7px;
      font-size: 0.7rem;
    }
    .faded-txt{
      position: absolute;
      font-size: 3rem;
      bottom: -3rem;
    }
    .navbar{
      width: 100vw;
      justify-content: flex-start;
    }
    .logo{
      font-size: 1.2rem;
  
      flex-wrap: nowrap;
    }
    .h2-heading {
      font-size: 3rem;
      margin-top: 5px;
  }
  .project-container {
      width: 95%;
      height: fit-content;
      padding: 10px;
  }
  #project01, #project02, #project03, #project04, #project05 {
      width: 100%;
      height: auto;
      margin-top: 30px;
      transform: none; /* Align to center for mobile */
  }
  .project-number, .project-number2, .project-number3, .project-number4 {
      font-size: 2rem;
      top: -1rem;
  }
  .project-card {
      width: 100%;
      box-shadow: 2px 2px 3px white;
  }
  .page-content {
      font-size: medium;
  }
  #skill{
    width: 100%;
    padding: 10px;
  
  }
  #content-area{
    width: 100%;
  }
  #skill-area{
    width: 100%;
    font-size: 2.5rem;
  }
  #contactme{
    width: 100%;
   margin:10px;
  }
  .formfield-container{
    width:90%;
  }
  .skill-image{
    width:100px;
  }
  }
  
  .footer-faded-text{
    position: inherit;
    bottom: -1rem;
    margin: 0 auto;
  }
  
  }
  
